@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav_links {
    margin-left: 16px;
    text-decoration: none;
    font-size: 24px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav-link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}