@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
    line-height: 1.5;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.purple {
    color:#7342d6;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav_link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 24px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav_link:hover {
    text-decoration: none;
}

.nav_link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav_link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header_container {
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   .header_description {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
   }

   h2 {
    align-items: center;
    margin-bottom: 32px;
    text-align: center;
   }

   button {
    cursor: pointer;
   }

   button:active {
    transform: translateY(1px);
   }

   .btn {
    background-color:#7342d6;
    color: #ffffff;
    padding: 16px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
   }

    .header_img--wrapper {
        padding: 20px;
        z-index: 2;
    }

    .container {
       padding: 56px 0;
    }

    .row {
       width: 100%;
       max-width: 1200px;
       margin: 0 auto;
    }

    /*

    HIGHLIGHTS

    */
    
    #highlights {
        position: relative;
        max-width: 100vw;
    }

    #highlights:after,
    #highlights:before {
        background: url('assets/wave.svg');
        content: "";
        position: absolute;
        width: 101vw;
        height: 12vw;
        left: 0;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
    #highlights:before {
        top: 1px;
        transform: translateY(-100%);
        
    }

    #highlights:after {
        bottom: 1px;
        transform: translateY(100%) rotate(180deg);
    }

    .highlight_wrapper {
        display: flex;
    }

    .highlight {
        padding: 0 24px;
        width: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .highlight_para {
        text-align: center;
        max-width: 280px;
    }

    .highlight_img {
        border: 2px solid #7342d65a;
        color: #7342d6;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 32px;
        margin-bottom: 24px;
    }

    .highlight_subtitle {
        font-size: 20px;
        margin-bottom: 16px;
    }

    /*

    FEATURES

    */

    #features {
        height: 1000px;
        background-color: rgba(115, 66, 214, 0.1);
    }