@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.purple {
    color:#7342d6;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav_link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 24px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav_link:hover {
    text-decoration: none;
}

.nav-link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav-link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header_container {
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   .header_description {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
   }

   h2 {
    align-items: center;
    margin-bottom: 32px;
    text-align: center;
   }

   button {
    cursor: pointer;
   }

   button:active {
    transform: translateY(1px);
   }

   .btn {
    background-color:#7342d6;
    color: #ffffff;
    padding: 16px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
   }

    .header_img--wrapper {
        padding: 20px;
    }