@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav_container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}